<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yes</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
    {% endblock %}
  </head>
  <body>

  <div class="card">
    <div id="chatbot">
      <p class="botText"><span>Hi there</span></p>
    </div>

    <div id="userInput">
      <input type="text" id="textInput" name="userMessage" placeholder="Type your prompt..."/>
      <input type="submit" value="Send" id="buttonInput">

    </div>

  </div>

  <script>

function getUserResponse() {
    var userText = $('#textInput').val();
    var userHTML = "<p class = 'userText'>User: <span>"+userText+"</span></p>";
    $('#textInput').val("");
    $('#textInput').prop('disabled', true); // Disable input field

    $('#chatbot').append(userHTML);

    fetch(`/chat/getResponse?userMessage=${userText}`)
        .then(response => response.text())
        .then(aiMessage => {
            var aiHTML = "<p class = 'aiText'>AI: <span>" + aiMessage + "</span></p>";
            $('#chatbot').append(aiHTML);
            $('#textInput').prop('disabled', false); // Re-enable input field
        });
        console.log("myFunction called");
}


$('#buttonInput').click(function() {
  getUserResponse();
});





  </script>



  </body>
</html>